

#side-menu {
  box-sizing: border-box;
  border: 10px solid red;
  position: absolute;
  top: 0px;
  right: 75%;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding: 10px 10px 10px 10px;
}

#viewer-container {
  box-sizing: border-box;
  border: 10px solid yellow;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 25%;
  margin: 0px;
}


