

#side-menu {
  box-sizing: border-box;
  border: 10px solid red;
  position: absolute;
  top: 0px;
  right: 80%;
  bottom: 0px;
  left: 0px;
  margin: 0px;
}

#viewer-container {
  box-sizing: border-box;
  border: 10px solid yellow;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 20%;
  margin: 0px;
}


