

#app {
  box-sizing: border-box;
  border: 10px solid purple;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 0px;
}



@keyframes loading-color-change {
  0% {background-color: yellow; }
  100% {background-color: red; }
}
#loadingbox {
  border-radius: 30px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 50px;
  bottom: 50px;
  left: 50px;
  animation-name: loading-color-change;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

